.card-container{
  width: 250px;
  height: 370px;
  border-radius: 50px;
  box-shadow: 3px 3px 7px rgba(93, 93, 93, 0.381);
  background-image: url('../assets/images/test-img.jpg');
  background-size: cover;
}
.card-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  padding: 10px;
}
.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.btn-box{
  width: 35px;
  height: 35px;
  background-image: url('../assets/images/youtube.png');
  background-size: cover;
  margin: 10px;
  cursor: pointer;
}
.cal-box{
  background-color: rgba(224, 223, 221, 0.649);
  border-radius: 30px;
  padding: 10px;
  min-width: 90px;
  font-size: 21px;
}
.name-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(211, 211, 211, 0.704);
  border-radius: 30px;
  width: 230px;
  height: 90px;
}
.exercise-name{
  font-size: 21px;
  font-weight: bold;
  padding: 3px;
}
.go-to{
  display: flex;
  align-items: center;
  font-size: 19px;
  cursor: pointer;
}
.add-logo{
  width: 35px;
  height: 35px;
}