.body {
  font-family: "Nanum Gothic", sans-serif;
}

#box {
  margin: 30px;
  border-radius: 45px;
  box-shadow: 0 0 20px lightgray;
}

/* 레시피박스 */

.Upper {
  display: flex;
  justify-content: center;
}

.FoodRecipeWrapper {
  margin: 30px;
  display: flex;
  width: 1300px;
  height: 500px;
  border-radius: 60px;
  box-shadow: 0 0 20px lightgray;
}

.RecipeImg {
  width: 650px;
  height: 500px;
  border-radius: 60px 30px 30px 60px;
}

.FoodExplain {
  width: 650px;
  height: 500px;
}

.RecipeName {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding: 20px 0 0 ;
  margin: 0;
  height: 10%;
}

.Recipe {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Recipe > p {
  font-size: 1rem;
  margin: 5px 15px;
}

.Lower {
  display: flex;
  justify-content: center;
}

/* 왼쪽 박스 */

.FoodCalorieWrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.UpperCalorie {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
}

#upperinfobox {
  padding: 0 30px;
}

.LowerCalorie {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px 0;
}

#lowerinfobox {
  padding: 0 30px;
  text-align: center;
}

/* 오른쪽박스 */

.FoodIngredientsWrapper {
  width: 600px;
}

.UpperIngredients {
  margin: 0;
  padding: 0;
}

#ingredientinfobox {
  padding: 0 30px;
  font-size: 0.8rem;
  text-align: justify;
  margin: 5px 0 20px 0;
}

#ingredientinfotitle {
  padding: 0 30px;
  font-size: 1rem;
  font-weight: bold;
  margin: 20px 0 5px 0;
}

.detail-youtube-btn{
  width: 35px;
  height: 35px;
  background-image: url('../../assets/images/youtube.png');
  background-size: cover;
  margin: 10px;
  cursor: pointer;
  position: absolute;
  right: 350px;
  top: 530px;
}