.body {
  font-family: "Nanum Gothic", sans-serif;
}

#box {
  margin: 30px;
  border-radius: 45px;
  box-shadow: 0 0 20px lightgray;
}

/* 레시피박스 */

.Upper {
  display: flex;
  justify-content: center;
}

.FoodRecipeWrapper {
  margin: 30px;
  display: flex;
  width: 1300px;
  height: 500px;
  border-radius: 60px;
  box-shadow: 0 0 20px lightgray;
}

@media (max-width: 1350px) {
  .FoodRecipeWrapper{
    width: 900px;
  }
}

@media (max-width: 950px) {
  .FoodRecipeWrapper{
    width: 600px;
    height: fit-content;
    flex-direction: column;
  }
}

.RecipeImg {
  width: 650px;
  height: 500px;
  border-radius: 60px 0 0 60px;
}

@media (max-width: 1350px) {
  .RecipeImg {
    width: 50%;
  }
}

@media (max-width: 950px) {
  .RecipeImg {
    width: 100%;
    height: 450px;
    border-radius: 60px 60px 0 0;
  }
}

.FoodExplain {
  width: 650px;
  height: 500px;
}

@media (max-width: 950px) {
  .FoodExplain {
    width: fit-content;
    height: 450px;
    padding-top: 10px;
  }
}

.detail-youtube-btn{
  width: 35px;
  height: 35px;
  background-image: url('../../assets/images/youtube.png');
  background-size: cover;
  margin: 10px;
  cursor: pointer;
  position: relative;
  left: 550px;
  bottom: 50px;
}

@media (max-width: 1350px) {
  .detail-youtube-btn{
    left: 350px;
    bottom: 50px;
  }
}
@media (max-width: 950px) {
  .detail-youtube-btn{
    left: 500px;
    bottom: 50px;
  }
}

.RecipeName {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding: 20px 0 0 ;
  margin: 0;
  height: 10%;
}

@media (max-width: 950px) {

}

.Recipe {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Recipe > p {
  font-size: 1rem;
  margin: 5px 15px;
}

.Lower {
  display: flex;
  justify-content: center;
}

@media (max-width: 1350px) {
  .Lower{
    flex-direction: column;
    align-items: center;
  }
}

/* 왼쪽 박스 */

.FoodCalorieWrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* font-size: 1.2rem; */
  font-weight: bold;
}

.UpperCalorie {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
}

#upperinfobox {
  padding: 0 50px;
}

.LowerCalorie {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px 0;
}

#lowerinfobox {
  padding: 0 50px;
  text-align: center;
}

/* 오른쪽박스 */

.FoodIngredientsWrapper {
  width: 600px;
}

.UpperIngredients {
  margin: 0;
  padding: 0;
}

#ingredientinfobox {
  padding: 0 30px;
  font-size: 0.8rem;
  text-align: justify;
  margin: 5px 0 20px 0;
}

#ingredientinfotitle {
  padding: 0 30px;
  font-size: 1rem;
  font-weight: bold;
  margin: 20px 0 5px 0;
}

.kcal-highlight{
  box-shadow: inset 0 -12px 0 #fff36c; 
}