#box {
  margin: 30px;
  border-radius: 45px;
  box-shadow: 0 0 20px lightgray;
}

/* 레시피박스 */

.FoodRecipeWrapper {
  margin: 30px;
  display: flex;
  width: 1300px;
  height: 500px;
  border-radius: 60px;
  box-shadow: 0 0 20px lightgray;
}

.RecipeImg {
  width: 650px;
  height: 500px;
  border-radius: 60px 30px 30px 60px;
}

.FoodExplain {
  padding: 10px;
}

.RecipeName {
  font-size: 2rem;
}

.Recipe {
  width: 650px;
  height: 500px;
}

.Lower {
  display: flex;
}

/* 왼쪽 박스 */

.FoodCalorieWrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.UpperCalorie {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
}

#upperinfobox {
  padding: 0 30px;
}

.LowerCalorie {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px 0;
}

#lowerinfobox {
  padding: 0 30px;
  text-align: center;
}

/* 오른쪽박스 */

.FoodIngredientsWrapper {
  width: 600px;
}

.UpperIngredients {
  margin: 0;
  padding: 0;
}

#ingredientinfobox {
  padding: 0 30px;
  font-size: 0.8rem;
  text-align: justify;
  margin: 5px 0 20px 0;
}

#ingredientinfotitle {
  padding: 0 30px;
  font-size: 1rem;
  font-weight: bold;
  margin: 20px 0 5px 0;
}