.contentWrapper {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 추천음식 */
.FoodrecommendWrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.recommendtitle {
  display: flex;
  align-items: center;
  margin: 40px 0 10px 0;
  font-size: 30px;
  font-weight: bold;
}

.iconimg {
  width: 30px;
  height: 30px;
}

.text {
  margin: 0;
  padding: 0;
}

.FoodCardWrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0 50px 0;
}

.InnerFoodCardWrapper {
  margin: 0 20px;
}

/* 테이블 */

.TableWrapper {
  width: 80%;
}

.foodtable {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

.tableheader {
  font-weight: bold;
}

.foodtable > th,td {
  padding: 5px 0;
}

.tableheader > th {
  padding: 20px 0;
  border-bottom: 2px solid black;
}

.tablecontent > td {
  padding: 15px 0;
  border-bottom: 1px solid gray;
}

.color-bar {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  width: 80%;
  height: 20px;
  font-size: 0.7rem;
  box-shadow: 3px 3px 7px rgba(93, 93, 93, 0.381);
}

.car-color-segment {
  border-radius: 30px 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro-color-segment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fat-color-segment {
  border-radius: 0 30px 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 페이지네이션 */

.pagination {
  margin: 100px;
}

.pagebtn {
  background-color: transparent;
  border: none;
  text-align: center;
}

.innerbtn {
  text-align: center;
  background-color: transparent;
  border: none;
}

#active {
  text-align: center;
  background-color: skyblue;
  border-radius: 10px;
}
