.contentWrapper {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 추천음식 */
.FoodrecommendWrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mid {
  width: 75%;
}
.recommendtitle {
  display: flex;
  align-items: center;
  margin: 40px 0 10px 0;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
}

.highlight{
  display: inline;
  box-shadow: inset 0 -15px 0 #feface; 
}

.iconimg {
  width: 30px;
  height: 30px;
}

.text {
  margin: 0;
  padding: 0;
}

.FoodCardWrapper {
  width: 110%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0 50px 0;
  height: 400px;
}

.container > :nth-child(n+5) {
  display: none; /* 두 번째 줄의 아이템들을 숨김 처리 */
}

.InnerFoodCardWrapper {
  margin: 0 20px;
}

/* 테이블 */

.hidden {
  visibility: hidden;
}

.TableWrapper {
  width: 80%;
}

.foodtable {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

.link {
  text-decoration: none;
  color: black;
}

.tableheader {
  font-weight: bold;
}

.foodtable > th,
td {
  padding: 5px 0;
}

.tableheader > th {
  padding: 20px 0;
  border-bottom: 2px solid black;
}

.tablecontent > td {
  padding: 15px 0;
  border-bottom: 1px solid gray;
}

.color-bar {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  width: 80%;
  height: 20px;
  font-size: 0.7rem;
  box-shadow: 3px 3px 7px rgba(93, 93, 93, 0.381);
}

.car-color-segment {
  border-radius: 30px 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro-color-segment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fat-color-segment {
  border-radius: 0 30px 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nut-wrap {
  display: flex;
}

.nut-span{
  margin-right: 80px;
}

.nut-text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  margin-right: 10px;
}
.tan-box{
  width: 10px;
  height: 10px;
  background-color: #D7ECD5;
  margin-right: 7px;
}
.dan-box{
  width: 10px;
  height: 10px;
  background-color: #7ED1E3;
  margin-right: 7px;
}
.ji-box{
  width: 10px;
  height: 10px;
  background-color: #FFD980;
  margin-right: 7px;
}
