.headerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diagnosis {
  padding: 10px 0;
  color: gray;
}

.diagnosis >span {
  color: black;
  font-weight: bold;
}

/* 달력 */
.calendarinputWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 0 10px 0;
}

.left {
  margin: 0 20px;
  padding: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  /* height: 100%; */
}

.inputWrapper {
  letter-spacing: 2px;
  display: flex;
}

.inputbuttonWrapper {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.foodinput {
  background-image: url("../../assets/images/foodlogo.png");
  background-size: 60%;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: #f9d8ab83;
  cursor: pointer;
  margin: 10px;
  background-position: center;
}

.exerinput{
  background-image: url("../../assets/images/exerciselogo.png");
  background-size: 60%;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: #f9d8ab83;
  cursor: pointer;
  margin: 10px;
  background-position: center;
}

.monthlyintake, .monthlyexer {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  margin: 10px 35px;
  margin-bottom: 50px;
}

.monthlyintake {
  background-color: hsla(120, 5%, 48%, 0.17);
}

.monthlyexer {
  background-color: hsla(191, 70%, 40%, 0.19);
}

.mpcaltitle {
  font-size: 1.5rem;
  color: rgb(74, 74, 74);
  margin: 20px;
}

.mpcalvalue {
  margin: 0 10px 20px 10px;
  width: 80%;
  padding: 10px;
  border: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.539);
  opacity: 80%;
  border-radius: 7px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

/* 진행중목표 */

.onGoing {
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.ongoingGoal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.ongoingGoaltitle {
  display: flex;
  padding: 10px;
}

.actualtitle {
  color: gray;
  font-size: 1.4rem;
  font-weight: bold;
}
.heart-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  width:20px;
  height: 20px;
  margin-right: 10px;
}

.actualgoal {
  font-size: 1.4rem;
}

.onspan {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
}

.monthgoalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  padding: 50px;
}

.monthdaykcal, .monthgoalkcal {
  font-size: 1.8rem;
  margin: 10px;
}


.monthspan {
  color: red;
  font-weight: bold;
  font-size: 2rem;
}

/* 즐겨찾기 */

.favtitle {
  padding: 30px;
  display: flex;
  align-items: center;
}

.mpicon {
  width: 25px;
  height: 25px;
}

.mptext {
  font-size: 1.3rem;
}

.highlight{
  box-shadow: inset 0 -20px 0 #feface; 
}

.favexWrapper, .favfoodWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favfoodcardWrapper{
  height: 410px;
}

.favexcardWrapper{
  height: 420px;
}

.favfoodcardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.midcardWrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  margin: 0 10px;

}

.innerfoodcard {
  margin-right: 20px; /* 각 요소 사이의 간격을 조절 */
  margin-bottom: 20px;
}

.midexcardWrapper {
  display: flex;
  margin: 0 10px;
  justify-content: center;
}

.innerexcard {
  margin: 10px 15px;
}

.mypage-pagination{
  margin-top: 20px;
  margin-bottom: 100px;
}

@media (max-width: 860px) {
  .mpcaltitle{
    font-size: 1.1rem;
  }
  
}

@media (max-width: 1200px) {
  .favfoodcardWrapper{
    height: fit-content;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .midcardWrapper{
    width: 100%;
    margin: 0;
  }
  .favexcardWrapper{
    height: fit-content;
    margin-bottom: 20px;
  }
  .midexcardWrapper{
    width: 600px;
    flex-wrap: wrap;

  }
  
}