.bigcalandar .react-calendar{
  /* width: max-content; */
  width: max-content;
  height: max-content;
  border: 1px solid rgba(125, 125, 125, 0.325);;
  border-radius: 22px;
  box-shadow: 0 0 15px lightgray;
}

.bigcalandar {
  height: max-content;
}

.bigcalandar .react-calendar__navigation {
  background:hsla(191, 70%, 40%, 0.19);
  border-bottom: 1px solid rgba(125, 125, 125, 0.325);
  height: 70px;
  border-radius: 20px 20px 0 0;
  span {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgb(0, 0, 0);
  }
}

.bigcalandar .react-calendar__navigation button:disabled {
  background-color: hsla(191, 70%, 40%, 0.19);
  border-radius: 20px 20px 0 0;
}
abbr{
  border: none;
}

.bigcalandar .react-calendar__navigation button:enabled:hover,
.bigcalandar .react-calendar__navigation button:enabled:focus {
  background-color: hsla(191, 70%, 40%, 0.19);
  border-radius: 20px 20px 0 0;
}

.bigcalandar .react-calendar__month-view {
  padding: 20px 32px;
  width: 1200px;
  abbr {
    color: rgb(30, 30, 30);
    font-size: 20px;
    font-weight: 500;
  }
}

.bigcalandar .react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  padding-bottom: 10px;
}
.bigcalandar .react-calendar__month-view__weekdays__weekday > abbr{
  text-decoration: none;
}
.react-calendar__month-view__days__day{
  abbr{
    margin-bottom: 10px;
  }
}

.bigcalandar .react-calendar__month-view__weekdays {
  abbr {
    border: none;
    font-size: 18px;
    font-weight: 900;
  }
}

.bigcalandar .react-calendar__tile {
  text-align: center;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding: 13px 7px;
  border: 1px solid rgba(182, 182, 182, 0.314);
  border-radius: 20px;
}

.bigcalandar .react-calendar__tile--now {
  background: #d1e5eeb1;
  border-radius: 20px;
}

.bigcalandar .react-calendar__tile:enabled:hover,
.bigcalandar .react-calendar__tile:enabled:focus,
.bigcalandar .react-calendar__tile--active {
  background: #d1e5ee3f;
  border-radius: 20px;
}

.bigcalandar .consumeCalWrapper {
  color: black;
}

.bigcalandar .intakeCalWrapper {
  color: black;
}

.bigcalandar .inner {
  color: rgb(222, 85, 85);
  font-weight: bold;
  padding:0 8px;
}

.bigcalandar .exinner {
  color: #5777e1;
  font-weight: bold;
  padding:0 8px;
}

@media (max-width: 1400px) {
  .bigcalandar .react-calendar__month-view{
    width: 1000px;
    abbr {
      color: rgb(30, 30, 30);
      font-size: 18px;
      font-weight: 500;
    }
  }
  .bigcalandar .react-calendar__tile{
    height: 140px;
  }
  .bigcalandar .react-calendar__month-view__weekdays {
    abbr {
      font-weight: 600;
    }
  }
}

@media (max-width: 1200px) {
  .bigcalandar .react-calendar__month-view{
    width: 900px;
    abbr {
      color: rgb(30, 30, 30);
      font-size: 16px;
      font-weight: 500;
    }
  }
  .bigcalandar .react-calendar__tile{
    height: 140px;
  }
  .bigcalandar .react-calendar__month-view__weekdays {
    abbr {
      font-weight: 600;
    }
  }
}

@media (max-width: 1000px) {
  .bigcalandar .react-calendar__month-view{
    width: 800px;
    abbr {
      color: rgb(30, 30, 30);
      font-size: 14px;
      font-weight: 500;
    }
  }
  .bigcalandar .react-calendar__tile{
    height: 140px;
  }
  .bigcalandar .react-calendar__month-view__weekdays {
    abbr {
      font-weight: 600;
    }
  }
}

@media (max-width: 860px) {
  .bigcalandar .react-calendar__month-view{
    width: 600px;
    abbr {
      color: rgb(30, 30, 30);
      font-size: 14px;
      font-weight: 500;
    }
  }
  .bigcalandar .react-calendar__tile{
    height: 80px;
    
  }
  .bigcalandar .react-calendar__month-view__weekdays {
    abbr {
      font-weight: 600;
    }
  }
  .consumeCalWrapper{
    display: none;
  }
  .intakeCalWrapper{
    display: none;
  }
}

/* .bigcalandar .missionsuccess {
  background-color: #d1e5ee91;
  border-radius: 30px;
} */


.bigcalandar .missionfailed {
  position: relative;
}

.bigcalandar .missionfailed::after {
  content: '';
  position: absolute;
  background-image: url("../../assets/images/crying.png");
  background-size: 60%;
  width: 100%;
  height: 100%;
  opacity: 40%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
}
.bigcalandar .missionfailed:hover::after {
  background-image: none;
}

.bigcalandar .missionsuccess {
  position: relative;
}

.bigcalandar .missionsuccess::after {
  content: '';
  position: absolute;
  background-image: url("../../assets/images/smile.png");
  background-size: 60%;
  width: 100%;
  height: 100%;
  opacity: 40%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
}
.bigcalandar .missionsuccess:hover::after {
  opacity: 0;
}

.kcalbox {
  z-index: 100;
  opacity: 0;
  height: 100%;
  width: 100%;
}

.kcalbox:hover {
  opacity: 1;
}