#bmibackgroundoff {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  display: none;
}

#bmibackgroundon {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
}

.bmiModalWrapper {
  width: 600px;
  position: fixed; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 30px gray;
  flex-direction: column;
  justify-content: space-between;
}

#bmihide {
  display: none;
}

#bmishow {
  display: flex;
}

/* 헤더 */

.bmimodalheader {
  padding: 15px 10px 0 10px;
}

.bmimodaltitle {
  padding: 5px;
  font-weight: bold;
}

.bmiexplanation {
  padding: 0 5px 5px 5px;
  font-size: 0.8rem;
  color: gray;
}

/* 바디 */

.bmimodalbody {
  padding: 10px 10px 0 10px;
}

/* 성별 */

.sexWrapper {
  margin: 5px 2px;
}

.sextext {
  margin: 0 10px;
}

.radioWrapper {
  display: flex;
  align-items: center;
}

.radiomanWrapper, .radiowomanWrapper {
  margin: 5px;
  width: 50%;
}

/* 연도 */
.bornWrapper {
  display: flex;
  width: 100%
}

.yearWrapper, .monthWrapper, .dayWrapper {
  margin: 10px;
}

.yearWrapper {
  width: 45%;
}

.yeartext {
  width: 100%;
  margin-top: 10px;
  height: 20px;
  border-radius: 7px;
  border: 1px solid lightgray;
}

.monthWrapper {
  width: 21%;
  margin-left: 20px;
}

.monthselect {
  margin-top: 10px;
  width: 100%;
  height: 25px;
  border-radius: 7px;
  border: 1px solid lightgray;
}

.dayWrapper {
  width: 21%;
}

.dayselect {
  margin-top: 10px;
  height: 25px;
  width: 100%;
  border-radius: 7px;
  border: 1px solid lightgray;
}

/* 키몸무게 */
.heightandweightWrapper {
  display: flex;
  justify-content: space-around;
}

.heightWrapper, .weightWrapper {
  margin: 5px;
  width: 45%;
}

.heightWrapper {
  margin-right: 15px;
}

.weightWrapper {
  margin-right: 15px;
}

.heighttitle, .weighttitle {
  margin: 5px 2px;
}

.heighttext, .weighttext {
  width: 100%;
  height: 25px;
  border-radius: 7px;
  border: 1px solid lightgray;
}

/* 풋 */
.bmifooter {
  padding: 15px 10px;
  display: flex;
  justify-content: space-around;
}

.bmicancelbtn, .bmiconfirmbtn {
  width: 47%;
  height: 35px;
}

.bmicancelbtn {
  border: 1px solid lightgray;
  background-color: #fff;
  border-radius: 7px;
}

.bmiconfirmbtn {
  border: none;
  background-color: #1F95AF;
  color: white;
  border-radius: 7px;
} 