.FoodCard {
  margin: 5px;
  pad: 5px;
  width: 550px;
  height: 175px;
  border-radius: 30px;
  box-shadow: 0 0 20px gray;
  display: flex;
}

.FoodImgWrapperRight {
  /* background-image: url('../assets/images/SalmonSteak.jpg');
  background-size: cover; */
  border-radius: 15px 30px 30px 15px;
  width: 275px;
  height: 175px;
  padding: 0;
}

.FoodImgRight{
  width: 275px;
  height: 175px;
  border-radius: 15px 30px 30px 15px;
}

.FoodExplanationWrapper > p {
  color: gray;
  margin: 10px;
}

.FoodExplanationWrapper {
  width: 275px;
  height: 175px;
  padding: 0;
}

.menu {
  width: 10px;
  height: 10px;
  margin: 0 3px 0 0;
}

.button {
  background-color: #fff;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  border: 0;
  box-shadow: 0 0 10px gray;
  margin: 10px;
}