.FoodCardLeft {
  margin: 5px;
  pad: 5px;
  width: 550px;
  height: 175px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(93, 93, 93, 0.381);
  display: flex;
}

.FoodImgWrapperLeft {
  border-radius: 30px 15px 15px 30px;
  width: 275px;
  height: 175px;
  padding: 0;
}

.FoodImgLeft{
  width: 275px;
  height: 175px;
  border-radius: 30px 15px 15px 30px;
}


.FoodExplanationWrapperLeft > p {
  color: gray;
  margin: 10px;
  font-size: 18px;
}

.FoodExplanationWrapperLeft {
  text-align: center;
  width: 275px;
  height: 175px;
  padding: 0;
}

.menuLeft {
  width: 10px;
  height: 10px;
  margin: 0 3px 0 0;
}

.buttonLeft {
  background-color: #fff;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  border: 0;
  box-shadow: 0 0 10px rgba(93, 93, 93, 0.381);
  margin: 10px;
  cursor: pointer;
}

h3 {
  font-size: 25px;
}
