.FoodCardRight {
  margin: 5px;
  pad: 5px;
  width: 550px;
  height: 175px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(93, 93, 93, 0.381);
  display: flex;
}

.FoodImgWrapperRight {
  /* background-image: url('../assets/images/SalmonSteak.jpg');
  background-size: cover; */
  border-radius: 15px 30px 30px 15px;
  width: 275px;
  height: 175px;
  padding: 0;
}

.FoodImgRight{
  width: 275px;
  height: 175px;
  border-radius: 15px 30px 30px 15px;
}

.FoodExplanationWrapperRight > p {
  color: gray;
  margin: 10px;
  font-size: 20px;
}

.FoodExplanationWrapperRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 275px;
  height: 175px;
  padding: 0;
}

.food-card-name{
  font-size: 1.5rem;
}

.menuRight {
  width: 10px;
  height: 10px;
  margin: 0 3px 0 0;
}

.buttonRight {
  background-color: #fff;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  border: 0;
  box-shadow: 0 0 10px rgba(93, 93, 93, 0.381);
  margin: 10px;
  cursor: pointer;
}